body{
    font-size: 1.5em;
    color:rgb(197, 215, 223);
    background-color:rgb(210, 218, 233);
}

.title-wrapper{
    padding-top: 30px;
    color:rgb(88, 103, 136);
    text-align: center;
}

h1{
    font-size: 1.8rem;

}

h3{
    font-size: 1.2rem;
    padding-top: 8px;
}

img {
    border: 1px solid white;
}

.wrapper{
    background-color:rgb(210, 218, 233);
    padding: 0px 50px 0px 150px;
    margin: 3vw 3vw 0vw 1vw;
}

.button {
    font-size: 1.8em;
    color:rgb(160, 174, 205);
    border: 0px ;
    margin: 15px;
    padding:5px 10px;
    background-color:rgb(210, 218, 233);
  
}

.wrapperBtn{
    background-color:rgb(210, 218, 233);
    text-align: center;
    padding-left: 10px;
}

footer{
    color: white;
    font-size: 1rem;
    padding: 50px 0 10px;
    text-align: center;

}